<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
 	<title>验证码</title>
    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
</head>
<body>
	<form method="post" action="{:url('test/captcha')}">
		<h4> thinkphp5 验证码 </h4>
		<div>
			<input type="text" name="captcha" placeholder="请输入验证码"/>
		</div>
		<!-- 获取验证码图片 -->
		<div>
			<img src="{:captcha_src()}" onclick="this.src=this.src+'?'+Math.random()">
		</div>
		<input type="submit" name="tijiao">
	</form>
</body>

</html>